table{
   border-collapse: collapse;
}
th {
    width: 200px;
}
tr {
    border: 1px solid black;
}
td {
    border: 1px solid black;
    font-size: 20px;
}
.game{
    margin: 50px;
    margin-left: 100px;
}
.team-header {
    width: 200px
}
.inning-header {
    width:50px;
}
