.frame-data-cell {
    &:hover {
        background-color: rgba(155, 246, 187, 0.966) !important
    }
    &--selected{
        background-color: rgba(155, 246, 187, 0.966)
    }
}
.frame {
    height: 20px;
    font-size: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    &--selected {
        justify-content: space-between;
    }
}
#selected-cell {
    background-color: rgba(155, 246, 187, 0.966)
}
.scoreChangeIcon {
    font-size: 20px;
}
.scoreChanger {
    padding-top:none;
    border: none;
    background-color: rgba(155, 246, 187, 0.966)
}
